extends layout

block content

  h1 About
  div.about.h-100
    .row.align-items-center.h-100
      .col-md-12.text-center.justify-content-center
        button.btn.btn-warning.btn-lg.light-switch Switch the light off